#title {
    text-align: center;
    margin: 0 auto;
}

#mainboard {
    position: relative;
    margin: 10px auto;
    width: 800px;
    background-color: rgba(97, 122, 143, 0.2);
    border-radius: 7px;
    padding: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}
#leftpanel {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;

}
#leftbox1 {
    background-color: rgba(106, 109, 117, 0.7);
    border: rgba(0,0,0,0.6) solid 1px;
    border-radius: 5px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#boardplate {
    display: grid;
    grid-template-columns: repeat(10,40px);
    height: 840px;
    width: 400px;
    margin: auto;
    background-color: rgb(185, 184, 184);
    border-radius: 3px;
    outline: 2px solid #000;
    grid-column: 2 / 3;
}
.grid {
	outline:1px solid rgba(0,0,0,0.5);
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.2);
}

.blockpiece {
    background-color: rgba(255, 255, 255, 1);
}